*, *:after, *:before {

    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;
}
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One&display=swap&subset=cyrillic');
.body {
    margin: 0;
    font-family: Nunito Sans, Arial;
} 
.body * {
    box-string: border-box;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.text {
    position: relative;
    padding: 10px;
    left: 0px;
    right: 20.69%;
    top: 4.68%;
    bottom: 93.29%;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}
.button {
    background: #E3B873;
    padding: 15px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.button1 {
    position: relative;
    padding: 20px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    width: 300px;
    top: -50px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
.button2 {
    position: relative;
    padding: 20px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    width: 280px;
    left: 100px;
    top: -50px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
.logo {
    color: #E3B873;
}
.header {
    background-color: black;
    width: 1440px;
}
.header-content {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    height: 83px;
    align-items: center;
}
.header-navigation {
    list-style: none;
    display: flex;
}
.header-navigation_item {
    margin-right: 47px;
}
.header-navigation_item a {
    text-decoration: none;
    color: white;
}
.hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;

    height: 700px;
    padding-top: 194px;
    position: relative;
}
.hero-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}
.hero-container {
    position: relative;
    z-index: 1;
}
.element {
    margin-left: 134px;
    margin-right: 627.89px;
    margin-top: 194px;
    margin-bottom: 208px;
}
.element_2 {
    position: relative;
    margin-left: 0 auto;
    width: 600px;
    top: -120px;
    font-family: Nunito Sans, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}
.title {
    position: relative;
    margin: 0;
    width: 550px;
    top: -180px;
    font-family: Yeseva One, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}
/*______________________________STEP__2_____________________________________________________________*/
.blok {
    position: absolute;
    margin: -10px;
    background-color: black;
    width: 1440px;
    height: 1000px;
    top: 810px;
}
.line1 {
    background-image: url("../images/Rectangle 6.svg");
    position: absolute;
    padding: 10px;
    left: 20px;
    background: #E3B873;
}
.blok1 {
    position: relative;
    background-image: url("../images/image 2.1.jpg");
    left: 640px;
    top: 200px;
    width: 600px;
    height: 432px;
}
.blok2 {
    position: absolute;
    padding: 120px;
    width: 260px;
    left: 10px;
    top: 100px;
}
.blok2a {
    position: absolute;
    background-image: url("../images/Group 8.4.svg");
    padding: 6px;
    left: 50px;
    width: 195px;
    top: 500px;
}
.blok3a {
    position: relative;
    background-color: black;
    border: solid 1px rgb(8, 8, 0);
    width: 300px;
    hidht: 80px;
    left: 10px;
    top: 30px;
}
.control {
    position: absolute;
    padding: 5px;
    width: 220px;
    hidht: 66px;
    left: 620px;
    top: 550px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.lineLeft {
    background-image: url(../images/Rectangle 6.7.jpg);
    position: absolute;
    padding: 1px;
    width: 40px;
    left: 660px;
    top: 605px;
    background: #E3B873;
    border-radius: 30px;
}
.kamera {
    background-image: url(../images/Step1_cam/Group.svg);
    position: absolute;
    padding: 15px;
    width: 10px;
    left: 710px;
    top: 590px;
}
.lineRight {
    background-image: url(../images/Rectangle 6.8.jpg);
    position: absolute;
    padding: 1px;
    width: 40px;
    left: 750px;
    top: 605px;
    background: #E3B873;
    border-radius: 30px;
}
.blok3 {
    position: absolute;
    width: 100px;
    left: 100px;
    top: 750px;
}
.fonBack {
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    left: 300px;
    top: 0px;
    width: 700px;
    height: 400px;
    z-index: 9900;
}
.imageOne {
    position: absolute;
    background-image: url("../images/image 6.jpg");
    left: 300px;
    top: 0px;
    width: 700px;
    height: 400px;
    z-index: 1;
}
.buttonArrow {
    position: absolute;
    padding: 80px;
    top: 145px;
    left: 585px;
    background-image: url("../images/Group 8.svg");
    z-index: 9990;
}
.lineCentre {
    background-image: url("../images/Rectangle 6.9.jpg");
    position: absolute;
    padding: 2px;
    width: 60px;
    left: 700px;
    top: 1200px;
    background: #E3B873;
    border-radius: 30px;
}
.blokText {
    position: absolute;
    width: 700px;
    hidht: 310.81px;
    margin-left: 300px;
    left: 100px;
    top: 1230px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}
.element2_7 {
    position: absolute;
    width: 253px;
    hidth: 66px;
    left: 50px;
    top: 50px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}
.element2_8 {
    position: absolute;
    border: solid 2px ;
    width: 190px;
    hidht: 17px;
    left: 650px;
    top: 70px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
}
.element2_9 {
    position: absolute;
    border: solid 2px ;
    width: 109px;
    hidht: 17px;
    left: 880px;
    top: 70px;
    font-family: Yeseva One;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}
.element2_10 {
    position: absolute;
    border: solid 2px ;
    width: 200px;
    hidht: 17px;
    left: 1020px;
    top: 70px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}
.element2_12 {
    position: absolute;
    width: 410px;
    hidht: 86px;
    left: 50px;
    top: 150px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}
.element2_13 {
    background: #E3B873;
    position: absolute;
    width: 194px;
    hidht: 1px;
    left: 700px;
    top: 100px;
}
.element2_14 {
    position: absolute;
    width: 410px;
    hidht: 86px;
    left: 50px;
    top: 250px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}
.element2_14a {
    position: absolute;
    width: 410px;
    hidht: 86px;
    left: 50px;
    top: 280px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.element2_15 {
    position: absolute;
    width: 410px;
    hidht: 86px;
    left: 250px;
    top: 250px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}
.element2_15a {
    position: absolute;
    width: 410px;
    hidht: 86px;
    left: 250px;
    top: 280px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.element2_16 {
    position: absolute;
    width: 410px;
    hidht: 86px;
    left: 50px;
    top: 350px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}
.element2_16a {
    position: absolute;
    width: 410px;
    hidht: 86px;
    left: 50px;
    top: 380px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.element2_17 {
    position: absolute;
    width: 410px;
    hidht: 86px;
    left: 250px;
    top: 350px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}
.element2_17a {
    position: absolute;
    width: 410px;
    hidht: 86px;
    left: 250px;
    top: 380px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.blok7 {
    position: absolute;
    padding: 50px;
    width: 650px;
    left: 450px;
    top: 1450px;
}
.blok7a1 {
    position: absolute;
    padding: 4px;
    width: 200px;
    left: 5px;
    top: 5px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}
.blok7a2 {
    position: absolute;
    padding: 4px;
    width: 200px;
    left: 230px;
    top: 5px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}
.blok7a3 {
    position: absolute;
    padding: 4px;
    width: 200px;
    left: 5px;
    top: 45px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}
.blok7a4 {
    position: absolute;
    padding: 4px;
    width: 200px;
    left: 230px;
    top: 45px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}
.blok7b {
    position: relative;
    width: 195px;
    hight: 20px;
    float: center;
    background: #E3B873;
    position: absolute;
    padding: 20px;
    left: 500px;
    top: 5px;
    border-radius: 2px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}
.blok7b1 {
    position: relative;
    top: 50px;
    left: 150px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
}
.blok7lineLeft {
    position: relative;
    background-image: url("../images/Rectangle 2.7.jpg");
    width: 180px;
    top: 20px;
    left: -40px;
    border: 1px solid rgba(54, 54, 54, 0.3);
    box-sizing: border-box;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.blok7lineRight {
    position: relative;
    background-image: url("../images/Rectangle 2.7.jpg");
    width: 180px;
    top: 20px;
    left: 180px;
    border: 1px solid rgba(54, 54, 54, 0.3);
    box-sizing: border-box;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.blok7bird {
    position: relative;
    background-image: url("../images/Group 48.jpg");
    padding: 10px;
    width: 10px;
    top: 70px;
    left: 120px;
}
.text7b {
    position: relative;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.text7c {
    position: relative;
    left: 50px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.TypesOFrepair {
    position: absolute;
    padding: 20px;
    left: 650px;
    top: 1700px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;;
}
.blok8Label {
    position: absolute;
    background-image: url("../images/Group 11.4.svg");
    padding: 20px;
    width: 110px;
    left: 700px;
    top: 1750px;
}
.blokDown {
    position: absolute;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 1800px;
}
.blok8 {
    position: absolute;
    background-image: url("../images/image 2.2.jpg");
    margin-left: 100px;
    top: 10px;
    width: 392px;
    height: 421px;
}
.element2_3 {
    position: absolute;
    width: 240px;
    hight: 80px;
    background: #E3B873;
    border: solid 2px ;
    padding: 20px;
    left: 30px;
    top: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    z-index: 1;
}
.element2_19 {
    position: absolute;
    margin-right: 15px;
    margin-left: 70px;
    width: 310px;
    Height: 240px;
    float: left;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    left: -40px;
    top: 290px;
    border-radius: 2px;
}
.element2_19a {
    position: absolute;
    opacity: 0.7;
    background: #FFFFFF;
    width: 300px;
    height: 21px;
    top: 00px;
    border: 4px solid #FFFFFF;
    padding: 6px;
    padding-right: 15px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}
.element2_19b {
    background: #FFFFFF;
    position: absolute;
    padding: 2px;
    width: 300px;
    height: 150px;
    margin-left: -5px;
    margin-right: auto;
    margin-top: 35px;
    border: 2px solid #FFFFFF;
}
.blok9 {
    position: relative;
    background-image: url("../images/image 2.3.jpg");
    margin-left: 560px;
    top: 10px;
    width: 392px;
    height: 421px;
}
.element2_4 {
    position: absolute;
    width: 240px;
    hight: 20px;
    background: #E3B873;
    border: solid 2px;
    padding: 20px;
    left: 40px;
    top: 260px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    z-index: 1;
}
.element2_20 {
    position: absolute;
    margin-right: 15px;
    margin-left: 70px;
    width: 325px;
    Height: 240px;
    float: left;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    position: relative;
    padding: 30px;
    left: -30px;
    top: 280px;
    border-radius: 2px;
}
.element2_19a1 {
    position: absolute;
    opacity: 0.7;
    background: #FFFFFF;
    left: 20px;
    top: 10px;
    width: 230px;
    height: 21px;
    border: 4px solid #FFFFFF;
    padding: 6px;
    padding-right: 15px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}
.element2_19b1 {
    float: left;
    background: #FFFFFF;
    position: absolute;
    padding: 2px;
    width: 300px;
    height: 250px;
    margin-left: -5px;
    margin-right: auto;
    margin-top: 35px;
    border: 2px solid #FFFFFF;
}
.blok9a {
    position: absolute;
    background-image: url("../images/image 2.4.jpg");
    margin-left: 1020px;
    top: 10px;
    width: 392px;
    height: 421px;
}
.element2_5 {
    position: absolute;
    width: 240px;
    hight: 20px;
    float: center;
    background: #E3B873;
    border: solid 2px ;
    padding: 20px;
    left: 50px;
    top: 260px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 1;
}
.element2_21 {
    margin-right: 15px;
    margin-left: 70px;
    position: absolute;
    left: 790px;
    top: 2120px;
    width: 290px;
    Height: 365px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    padding: 30px;
    border-radius: 2px;
}
.element2_19a2 {
    position: absolute;
    opacity: 0.7;
    background: #FFFFFF;
    left: 40px;
    top: 10px;
    width: 228px;
    height: 21px;
    border: 4px solid #FFFFFF;
    padding-right: 15px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}
.element2_19b2 {
    position: absolute;
    float: left;
    background: #FFFFFF;
    left: 40px;
    top: 60px;
    padding: 2px;
    width: 267px;
    height: 178px;
    border: 2px solid #FFFFFF;
}
/*_________________________________STEP_3_____________________*/
.container3_ {
    position: absolute;
    width: 1440px;
    height: 3835px;
    top: 2500px;
}
.button3_2 {
    position: absolute;
    background-image: url("../images/Group 48.svg");
    padding: 10px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    width: 10px;
    left: 50px;
    top: 350px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
.button3_3 {
    position: relative;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    width: 230px;
    height: 60px;
    left: 230px;
    top: 350px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.blok3_3 {
    position: absolute;
    width: 1306px;
    height: 645px;
    left: -500px;
    top: -47px;
    bottom: 80.9%;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}
.blok3_3a {
    position: relative;
    border: #FFFFFF;
    background-image: url("../images/image 6.1.jpg");
    width: 1006px;
    height: 700px;
    left: 300px;
    top: -55px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}
.blok3_3b {
    position: relative;
    background-color: #131313;
    border: white;
    width: 300px;
    height: 50px;
    left: 90px;
    top: 350px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
}
.blok3_3c {
    position: relative;
    background-color: #FFFFFF;
    width: 400px;
    height: 500px;
    left: 250px;
    top: -480px;
    bottom: 80.9%;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}
.blok3_3c_1 {
    position: absolute;
    width: 500px;
}
.blok3_3c_1b {
    position: relative;
    left: -50px;
    top: -25px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.blok3_3c_1c {
    position: absolute;
    background-color: #FFFFFF;
    width: 300px;
    height: 50px;
    left: 90px;
    top: 30px;
    bottom: 80.9%;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}
.blok3_3c_2 {
    position: relative;
    padding: 30px;
    width: 390px;
}
.blok3_3c_2b {
    position: relative;
    left: 5px;
    top: 115px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.blok3_3c_2c {
    position: absolute;
    background-color: #FFFFFF;
    width: 300px;
    height: 50px;
    left: 80px;
    top: 150px;
    bottom: 80.9%;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}
.blok3_3c_3 {
    position: absolute;
    padding: 30px;
    width: 390px;
}
.blok3_3c_3b {
    position: relative;
    left: 5px;
    top: 155px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.blok3_3c_3c {
    position: absolute;
    background-color: #FFFFFF;
    width: 300px;
    height: 50px;
    left: 80px;
    top: 190px;
    bottom: 80.9%;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}
.blok3_3c_4 {
    position: absolute;
    padding: 30px;
    width: 390px;
}
.blok3_3c_4b {
    position: relative;
    left: 5px;
    top: 275px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.blok3_3c_4c {
    position: absolute;
    background-color: #FFFFFF;
    width: 300px;
    height: 50px;
    left: 80px;
    top: 300px;
    bottom: 80.9%;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}
.blok3_3c_5 {
    position: absolute;
    left: 120px;
    padding: 30px;
    width: 390px;
}
.blok3_3c_5a {
    position: absolute;
    background-image: url("../images/Group.svg");
    width: 110px;
    height: 110px;
    left: 600px;
    top: 500px;
    z-index: 9990;
}
.blok3_3c_5b {
    position: absolute;
    width: 300px;
    left: 720px;
    top: 520px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}
.blok3_3c_5c {
    position: absolute;
    background-color: #FFFFFFz;
    width: 580px;
    height: 160px;
    left: 600px;
    top: 480px;
    color: #363636;
}
.button_krug {
    position: relative;
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    background-image: url("../images/Rectangle 8.1.svg");
}
.krug_1 {
    position: relative;
    border: #FFFFFF;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 10px;
}
.krug_2 {
    position: absolute;
    border: black;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 120px;
}
.krug_3 {
    position: absolute;
    border: black;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 160px;
}
.krug_4 {
    position: absolute;
    border: black;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 280px;
}
.blok3_1 {
    position: absolute;
    border: #FFFFFF
    width: 1643px;
    height: 800px;
    left: -203px;
    top: -47px;
}
.blok3_4 {
    position: absolute;
    width: 1440px;
    height: 850px;
    left: -200px;
    top: 1000px;
}
.blok3_4Fon {
    background-image: url("../images/Rectangle 7.jpg");
    position: absolute;
    border: solid 1px rgb(40, 43, 7);
    background-size: cover;
    background-color: rgba(0. 0. 0. .7);
    width: 1440px;
    height: 850px;
    left: 0px;
    background: linear-gradient(120.96deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
    z-index: 9990;
}
.background3_4 {
    background-image: url("../images/image 5.1.jpg");
    position: absolute;
    width: 1440px;
    height: 850px;
    left: 0px
    top: 850px;
}
.blok3_4Text_1 {
    position: absolute;
    padding: 100px;
    width: 4110px;
    height: 90px;
    top: 100px
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    z-index: 9999;
}
.blok3_4Text {
    position: absolute;
    width: 150px;
    height: 100px;
    left: -150px;
    top: 220px
}
.blok3_4Tab {
    position: absolute;
    width: 150px;
    height: 500px;
    left: -150px;
    top: 300px
}
.blok3_4Text_2a {
    position: relative;
    left: 250px;
    top: 3000px
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    color: #E3B873;
    z-index: 9999;
}
.blok3_4Text_2b {
    position: relative;
    left: 250px;
    top: 0px
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    z-index: 9999;
}
.background3_4Image{
    position: absolute;
    width: 1500px;
    height: 1500px;
    top: 300px;
}
.background3_4Image1 {
    position: absolute;
    background-image: url("../images/image 5.jpg");
    width: 354px;
    height: 558px;
    left: 800px;
    top: -670px;
    z-index: 9999;
}
.background3_4Image2 {
    position: absolute;
    background-image: url("../images/image 5a.jpg");
    width: 354px;
    height: 275px;
    left: 1200px;
    top: -750px;
    z-index: 9999;
}
.background3_4Image3 {
    position: absolute;
    background-image: url("../images/image 5b.jpg");
    width: 354px;
    height: 625px;
    left: 1200px;
    top: -420px;
    z-index: 9999;
}
.background3_4Image4 {
    position: absolute;
    background-image: url("../images/image 5c.jpg");
    width: 354px;
    height: 350px;
    left: 800px;
    top: -50px;
    z-index: 9999;
}
.blok3_5_Clients {
    position: absolute;
    width: 1236px;
    height: 643px;
    left: 160px;
    top: 2000px;
    z-index: 1;
}
.blok3_5_1 {
    position: absolute;
    padding: 20px;
    width: 257px;
    height: 26px;
    left: 500px;
    top: 0px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}
.HandsBlok {
    position: relative;
    padding: 5px;
    width: 114px;
    hidht: 28px;
    left: -100px;
    top: -540px;
}
.blok3.lineLeft {
    background-image: url(../images/Rectangle 6.7.jpg);
    position: absolute;
    padding: 1px;
    width: 38px;
    height: 1,5px;
    left: 650px;
    top: 1800px;
    background: #E3B873;
    border-radius: 30px;
}
.handsImage {
    position: absolute;
    background-image: url("../images/Group 43.jpg");
    width: 34px;
    height: 28px;
    left: 710px;
    top: 595px;
    z-index: 9999;
}
..blok3.lineRight {
    background-image: url(../images/Rectangle 6.8.jpg);
    position: absolute;
    padding: 1px;
    width: 38px;
    height: 1,5px;
    left: 760px;
    top: 1800px;
    background: #E3B873;
    border-radius: 30px;
}
.blok3_5_2Text {
    position: absolute;
    width: 476px;
    height: 57px;
    left: 400px;
    top: 100px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}
.blok3_5_3 {
    position: absolute;
    width: 376px;
    height: 428px;
    left: 0px;
    top: 180px;
}
.blok3_5_3a {
    position: absolute;
    background-image: url("../images/Mask Group_A.svg");
    width: 76px;
    height: 76px;
    left: 20px;
    top: 200px;
}
.blok3_5_3b {
    position: absolute;
    width: 198px;
    height: 42px;
    left: 120px;
    top: 210px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}
.blok3_5_3c {
    position: absolute;
    width: 400px;
    height: 216px;
    left: 20px;
    top: 310px;
    font-family: Nunito Sans;
    text-transform: lowercase;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    color: #959595;
}
.blok3_5_3d {
    position: absolute;
    background-image: url("../images/Group3_5_3d.svg");
    width: 294px;
    height: 70px;
    left: 0px;
    top: 520px;
}
.blok3_5_4 {
    position: absolute;
    width: 376px;
    height: 428px;
    left: 435px;
    top: 180px;
}
.blok3_5_4a {
    position: absolute;
    background-image: url("../images/Mask Group_B.svg");
    width: 76px;
    height: 76px;
    left: 450px;
    top: 200px;
}
.blok3_5_4b {
    position: absolute;
    width: 198px;
    height: 42px;
    left: 550px;
    top: 210px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}
.blok3_5_4c {
    position: absolute;
    width: 400px;
    height: 216px;
    left: 460px;
    top: 310px;
    font-family: Nunito Sans;
    text-transform: lowercase;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    color: #959595;
}
.blok3_5_4d {
    position: absolute;
    background-image: url("../images/Group3_5_4d.svg");
    width: 294px;
    height: 70px;
    left: 440px;
    top: 520px;
}
.blok3_5_5 {
    position: absolute;
    width: 376px;
    height: 428px;
    right: 0px;
    top: 180px;
}
.blok3_5_5a {
    position: absolute;
    background-image: url("../images/Mask Group_С.svg");
    width: 76px;
    height: 76px;
    left: 890px;
    top: 200px;
}
.blok3_5_5b {
    position: absolute;
    width: 198px;
    height: 42px;
    left: 990px;
    top: 210px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}
.blok3_5_5c {
    position: absolute;
    width: 400px;
    height: 216px;
    left: 900px;
    top: 310px;
    font-family: Nunito Sans;
    text-transform: lowercase;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    color: #959595;
}
.blok3_5_5d {
    position: absolute;
    background-image: url("../images/Group3_5_5d.svg");
    width: 294px;
    height: 70px;
    left: 880px;
    top: 520px;
}
.blok3_6Frame1 {
    position: absolute;
    background-image: url("../images/Frame3_6F1.svg");
    width: 1127px;
    height: 770px;
    left: -500px;
    top: 2300px;
}
.blok3_6Frame2 {
    position: absolute;
    background-image: url("../images/Frame3_6F2.svg");
    width: 1127px;
    height: 770px;
    right: -500px;
    top: 2300px;
}
.blok3_7 {
    position: absolute;
    background-color: black;
    width: 883px;
    height: 445px;
    right: 200px;
    top: 2800px;
    z-index: 9990;
}
.blok3_7_1 {
    position: relative;
    width: 520px;
    height: 377px;
    left: 200px;
    top: 30px;
}
.blok3_7_Text {
    position: relative;
    width: 520px;
    height: 377px;
    left: 0px;
    top: 20px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.blok3_7_2 {
    position: absolute;
    width: 520px;
    height: 138px;
    left: 0px;
    top: 70px;
}
.blok3_7_2Text1 {
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.blok3_7_2Text2 {
    position: absolute;
    left: 0px;
    top: 20px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
.blok3_7_2Line1 {
    position: absolute;
    width: 200px;
    height: 1px;
    background-image: url("../images/Rectangle 3_7_2Line1.jpg");
    left: 0px;
    top: 40px;
    background: rgba(255, 255, 255, 0.15);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.blok3_7_2_1 {
    position: absolute;
    background-color: black;
    width: 231px;
    height: 45px;
    left: 0px;
    top: 0px;
}
.blok3_7_2_2 {
    position: absolute;
    background-color: black;
    width: 231px;
    height: 45px;
    left: 290px;
    top: 0px;
}
.blok3_7_2Line2 {
    position: absolute;
    width: 200px;
    height: 1px;
    background-image: url("../images/Rectangle 3_7_2Line2.jpg");
    left: 0px;
    top: 40px;
    background: rgba(255, 255, 255, 0.15);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.blok3_7_2_3 {
    position: absolute;
    background-color: black;
    width: 520px;
    height: 45px;
    left: 0px;
    top: 70px;
}
.blok3_7_2Line3 {
    position: absolute;
    width: 500px;
    height: 1px;
    background-image: url("../images/Rectangle 3_7_2Line3.jpg");
    left: 0px;
    top: 40px;
    background: rgba(255, 255, 255, 0.15);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.blok3_7_3 {
    position: absolute;
    width: 286px;
    height: 18px;
    left: 80px;
    top: 250px;
}
.blok3_7_3a {
    position: absolute;
    background-image: url("../images/Group 48.svg");
    width: 18px;
    height: 18px;
    left: 0px;
    top: 0px;
}
.blok3_7_3b {
    position: absolute;
    width: 260px;
    height: 16px;
    left: 40px;
    top: 0px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
}
.blok3_7_4 {
     position: absolute;
     background-image: url("../images/Rectangle 6.2.svg");
     width: 200px;
     height: 51px;
     left: 150px;
     top: 300px;
     font-family: Nunito Sans;
     font-style: normal;
     font-weight: normal;
     font-size: 13px;
     line-height: 27px;
     text-align: center;
     text-top: 50px;
     text-transform: uppercase;
     color: #FFFFFF;
 }
.blok3_7_4Text {
    position: relative;
    left: 10px;
    top: 20px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-top: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.blok3_8Fon {
    position: relative;
    background-image: url("../images/image 7.2.jpg");
    width: 1440px;
    height: 954px;
    left: 80px;
    top: 2050px;
    z-index: 1;
}
.blok3_8 {
    position: absolute;
    width: 1440px;
    height: 954px;
    left: 80px;
    top: 3050px;
    background: linear-gradient(180deg,
    rgba(24, 24, 24, 0.9) 3.47%,
    rgba(24, 24, 24, 0.72) 100%);
    z-index: 9980;
}
.blok3_8_1 {
    position: absolute;
    width: 589px;
    height: 199px;
    left: 450px;
    top: 300px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
}
.blok3_8_2 {
    position: absolute;
    width: 71px;
    height: 28px;
    left: 720px;
    top: 370px;
}
.button3_8a {
    position: absolute;
    background-image: url("../images/Group 3.svg");
    width: 28px;
    height: 28px;
    left: 0px;
    top: 0px;
}
.button3_8b {
    position: absolute;
    background-image: url("../images/Group 4.svg");
    width: 28px;
    height: 28px;
    right: 0px;
    top: 0px;
}
.blok3_9 {
    position: absolute;
    background-image: url("../images/image 7.1.svg");
    width: 920px;
    height: 450px;
    left: 340px;
    top: 3500px;
    z-index: 9999;
}
.blok3_10 {
    position: absolute;
    background: #181818;
    width: 1440px;
    height: 100px;
    left: 80px;
    top: 4000px;
    z-index: 9990;
}
.blok3_11a {
    position: absolute;
    width: 1420px;
    height: 60px;
    left: 10px;
    top: 20px;
}
.blok3_11b {
    position: absolute;
    width: 160px;
    height: 16px;
    left: 0px;
    top: 20px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}
.blok3_11c {
    position:absolute;
    margin: 10px;
    width: 1000px;
    height: 16px;
    left: 200px;
    top: 10px;
}
.blok3_11c1 {
    position: relative;
    margin: 10px;
    width: 100px;
    height: 16px;
    left: -10px;
    top: -4px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #E3B873;
}
.blok3_11c2 {
    position: relative;
    left: 80px;
    top: -4px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}
.blok3_11c3 {
    position: relative;
    left: 180px;
    top: -4px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}
.blok3_11c4 {
    position: relative;
    left: 280px;
    top: -4px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}
.blok3_11c5 {
    position: relative;
    left: 380px;
    top: -4px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}
.blok3_11c6 {
    position: relative;
    left: 450px;
    top: -4px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}
.blok11d {
    position: relative;
    left: 520px;
    top: -4px;
    font-family: Nunito Sans;
    font-style: underline;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}
.blok3_10Button {
    position: absolute;
    background-image: url("../images/Rectangle 2.svg");
    width: 162px;
    height: 38px;
    left: 1350px;
    top: 4025px;
    z-index: 9999;
}
.blok3_10ButtonText {
    position: relative;
    width: 162px;
    height: 38px;
    left: 40px;
    top: 15px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 9999;
}
.blok3_2 {
    position: relative;
    width: 506px;
    height: 509px;
    right: -930px;
    top: 60px;
    border: solid 1px rgb(40, 43, 7);
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}
.blok2_element1 {
    position: absolute;
    width: 380px;
    height: 470px;
    left: 50px;
    top: 30px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}
.blok2_element2 {
    position: absolute;
    width: 480px;
    height: 80px;
    left: 50px;
    top: 130px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.blok2_element2a {
    position: absolute;
    width: 480px;
    height: 50px;
    left: 50px;
    top: 160px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
.blok2_element2b {
    position: absolute;
    width: 480px;
    height: 50px;
    left: 50px;
    top: 130px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.blok2_element3 {
    position: absolute;
    width: 480px;
    height: 50px;
    left: 50px;
    top: 200px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.blok2_element3a {
    position: absolute;
    width: 480px;
    height: 50px;
    left: 50px;
    top: 230px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
.blok2_element3b {
    position: absolute;
    width: 480px;
    height: 50px;
    left: 50px;
    top: 200px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.blok2_element4 {
    position: absolute;
    width: 480px;
    height: 50px;
    left: 50px;
    top: 270px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.blok2_element4a {
    position: absolute;
    width: 480px;
    height: 50px;
    left: 50px;
    top: 310px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
]
.blok2_element4b {
    position: absolute;
    width: 480px;
    height: 50px;
    left: 50px;
    top: 270px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}