*, *:after, *:before {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/fontNunitosans/NunitoSans-Regular.eot');
    src: local('../fonts/fontNunitosans/Nunito Sans Regular'), local('NunitoSans-Regular'),
    url('../fonts/fontNunitosans/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontNunitosans/NunitoSans-Regular.woff2') format('woff2'),
    url('../fonts/fontNunitosans/NunitoSans-Regular.woff') format('woff'),
    url('../fonts/fontNunitosans/NunitoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Yeseva One';
    src: url('../fonts/fontYeseva/YesevaOne-Regular.eot');
    src: local('../fonts/fontYeseva/Yeseva One Regular'), local('YesevaOne-Regular'),
    url('../fonts/fontYeseva/YesevaOne-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontYeseva/YesevaOne-Regular.woff2') format('woff2'),
    url('../fonts/fontYeseva/YesevaOne-Regular.woff') format('woff'),
    url('../fonts/fontYeseva/YesevaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.body {
    margin: 0;
    font-family: Nunito Sans, Arial;
}
.body * {
    box-string: border-box;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.logo {
    color: #E3B873;
}
.header {
    background-color: black;
    /*width: 1440px;*/
}
.header-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #E3B873;
}
.header-content {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 83px;
    align-items: center;
}
.header-navigation {
    list-style: none;
    display: flex;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}
.header-navigation_item {
    margin-right: 47px;
}
.hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 510px;
    padding-top: 194px;
    position: relative;
}
.hero-container {
    position: relative;
    padding: 100px 700px 300px 50px;
    z-index: 1;
}
.title {
    position: relative;
    margin: 0;
    width: 550px;
    top: -180px;
    font-family: Yeseva One, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.text {
    color: #E3B873;
}
.main_text {
    position: relative;
    margin-left: 0 auto;
    width: 600px;
    top: -120px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}
.button {
    background: #E3B873;
    padding: 15px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.button1 {
    position: relative;
    padding: 20px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    width: 200px;
    top: -50px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
.button2 {
    position: relative;
    padding: 20px;
    border: 1px solid #FFFFFF;
    background: none;
    box-sizing: border-box;
    border-radius: 2px;
    width: 200px;
    left: 20px;
    top: -50px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
.hero-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}
.main_text2 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #E3B873;
}
.section2 {
    position: absolute;
    background-color: black;
    width: 1264px;
    height: 1070px;
    top: 785px;
}
.section2-blok1 {
    position: relative;
    left: -90px;
    top: 0px;
}
.section2-blok1-container {
    position: absolute;
    width: 1270px;
    height: 540px;
    margin-left: 70px;
    margin-top: 100px;
    z-index: 1;
}
.section2-blok1-navigation {
    position: absolute;
    vertical-align: center;
    background: black;
    list-style: none;
    display: flex;
    width: 600px;
    height: 40px;
    right: 0px;
    z-index: 9999;
}
.section2-blok1-navigation_item {
    margin-right: 47px;
}
.section2-blok1-element1 {
    position: relative;
    width: 220px;
    hidht: 17px;
    left: 10px;
    top: 20px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
}
.section2-blok1-element2 {
    position: relative;
    width: 140px;
    hidht: 17px;
    left: 10px;
    top: 20px;
    font-family: Yeseva One;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}
.section2-blok1-element3 {
    position: relative;
    width: 240px;
    hidht: 17px;
    left: 10px;
    top: 20px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}
.section2-blok1-line {
    background-image: url("../images/Rectangle 6.svg");
    position: absolute;
    padding: 10px;
    left: 0px;
    background: #E3B873;
}
.section2-container1 {
    position: absolute;
    width: 440px;
    height: 400px;
    left: 120px;
    top: 180px;
    z-index: 9990;
}
.section2-container1-heading {
    position: relative;
    width: 200px;
    height: 100px;
    left: 0px;
    top: 0px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    z-index: 9999;
}
.section2-container1-blok1 {
    position: relative;
    width: 160px;
    height: 65px;
    left: 0px;
    top: 70px;
    z-index: 9999;
}
.section2-container1-blok2 {
    position: relative;
    width: 160px;
    height: 65px;
    left: 0px;
    top: 110px;
    z-index: 9999;
}
.section2-container1-blok3 {
    position: relative;
    width: 180px;
    height: 65px;
    left: 260px;
    top: -60px;
    z-index: 9999;
}
.section2-container1-blok4 {
    position: relative;
    width: 160px;
    height: 65px;
    left: 260px;
    top: -20px;
    z-index: 9999;
}
.section2-container1-text1 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}
.section2-container1-text2 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.section2-container1-arrow {
    position: absolute;
    background-image: url("../images/Group 8.4.svg");
    padding: 6px;
    left: 0px;
    width: 195px;
    top: 440px;
}
.section2-blok1-img {
    position: relative;
    background-image: url("../images/image 2.1.jpg");
    left: 680px;
    top: 100px;
    width: 600px;
    height: 432px;
    z-index: 9999;
}
.section2-controlBlok {
    position: absolute;
    left: -100px;
    top: 500px;
}
.section2-controlBlok-control {
    position: relative;
    width: 220px;
    hidht: 60px;
    left: 0px;
    top: 0px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section2-controlBlok-lineLeft {
    background-image: url(../images/Rectangle 6.7.svg);
    position: relative;
    width: 32px;
    height: 1.5px;
    left: 50px;
    background: #E3B873;
    border-radius: 30px;
}
.section2-controlBlok-kamera {
    background-image: url(../images/Step1_cam/Group.svg);
    position: relative;
    padding: 10px;
    width: 10px;
    height: 10px;
    left: 60px;
    top: 0px;
}
.section2-controlBlok-lineRight {
    background-image: url(../images/Rectangle 6.8.svg);
    position: relative;
    width: 32px;
    height: 1.5px;
    left: 60px;
    background: #E3B873;
    border-radius: 30px;
}
.section2-container1-button {
    position: absolute;
    background-image: url("../images/Group 8.svg");
    left: 340px;
    top: 160px;
    width: 140px;
    height: 140px;
    z-index: 9999;
}
.section2-container1-blok5 {
    position: absolute;
    background-image: url("../images/image 6.jpg");
    width: 820px;
    height: 440px;
    left: -400px;
    top: 660px;
}
.section2-container1-fonBack {
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    left: 0px;
    top: 0px;
    width: 820px;
    height: 440px;
    z-index: 9990;
}
.section3 {
    position: absolute;
    width: 1440px;
    height: 900px;
    top: 1800px;
}
.section3-container1 {
    position: relative;
    margin: 0px;
    width: 1263px;
    height: 880px;
    top: 0px;
}
.section3-container1-divider {
    position: relative;
    background-image: url("../images/Rectangle 6.9.svg");
    margin: 10px;
    width: 55px;
    height: 1.54px;
    left: 620px;
    top: 300px;
    background: #E3B873;
    border-radius: 30px;
}
.section3-container1-text {
    position: relative;
    left: 350px;
    top: -550px;
    width: 680px;
    height: 140px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}
.section3-container1-blok1 {
    position: relative;
    left: 310px;
    top: -450px;
    width: 900px;
    height: 100px;
}
.section3-container1-form {
    position: relative;
    left: -30px;
    width: 900px;
    height: 100px;
}
.section3-container1-label {
    position: relative;
    left: 0px;
    top: 0px;
    width: 180px;
    height: 20px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}
.section3-container1-input {
    position: relative;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 20px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}
.section3-container1-line1 {
    position: relative;
    background-image: url("../images/Rectangle 2.7.jpg");
    width: 300px;
    top: 10px;
    left: 0px;
    border: 1px solid rgba(54, 54, 54, 0.3);
    box-sizing: border-box;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.section3-container1-line2 {
    position: relative;
    background-image: url("../images/Rectangle 2.7.jpg");
    width: 300px;
    top: 10px;
    left: 0px;
    border: 1px solid rgba(54, 54, 54, 0.3);
    box-sizing: border-box;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.section3-container1-blok2 {
    position: relative;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 20px;
}
.section3-container1-blok3 {
    position: relative;
    left: 320px;
    top: -20px;
    width: 300px;
    height: 20px;
}
.section3-container1-button {
    position: relative;
    background-image: url("../images/Rectangle 6.2.svg");
    background: #E3B873;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    width: 200px;
    height: 48px;
    left: 640px;
    top: -40px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section3-container1-button2 {
    position: relative;
    background-image: url("../images/Group 48.jpg");
    padding: 6px;
    width: 6px;
    height: 6px;
    top: -20px;
    left: 320px;
}
.section3-container1-text1 {
    position: relative;
    top: -40px;
    left: 350px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
}
.section4 {
    position: absolute;
    width: 1263px;
    height: 900px;
    left: -40px;
    top: 2550px;
}
.section4-container1 {
    position: relative;
    margin: 20px;
    width: 1400px;
    height: 860px;
    top: 0px;
}
.section4-container1-heading {
    position: relative;
    width: 257px;
    height: 27px;
    left: 520px;
    top: 10px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}
.section4-container1-img1 {
    position: relative;
    background-image: url("../images/Group 11.4.svg");
    width: 114px;
    height: 28px;
    left: 590px;
    top: 40px;
}
.section4-container1-heading1 {
    position: relative;
    width: 330px;
    height: 280px;
    left: 30px;
    top: 300px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}
.section4-container1-text {
    position: relative;
    width: 180px;
    height: 40px;
    left: 40px;
    top: 20px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}
.section4-container1-blokFon {
    position: relative;
    width: 330px;
    height: 280px;
    left: 40px;
    top: 300px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.section4-container1-blok1a {
    position: relative;
    width: 200px;
    height: 190px;
    left: 60px;
}
.section4-container1-blok1b {
    position: relative;
    width: 200px;
    height: 190px;
    left: 60px;
}
.section4-container1-blok1c {
    position: relative;
    width: 200px;
    height: 190px;
    left: 60px;
}
.section4-container1-text1 {
    position: relative;
    left: 0px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}
.section4-container1-price {
    position: relative;
    background-image: url("../images/Rectangle 4.21.jpg");
    width: 240px;
    hight: 20px;
    background: #E3B873;
    border: solid 2px;
    padding: 20px;
    left: 20px;
    top: 260px;
    border-radius: 2px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    z-index: 1;
}
.section4-container1-blok1 {
    position: relative;
    background-image: url("../images/imageBlok1.jpg");
    width: 392px;
    height: 421px;
    left: 10px;
    top: 100px;
}
.section4-container1-blok2 {
    position: relative;
    background-image: url("../images/imageBlok2.jpg");
    width: 392px;
    height: 421px;
    left: 440px;
    top: -280px;
}
.section4-container1-blok3 {
    position: relative;
    background-image: url("../images/imageBlok3.jpg");
    width: 392px;
    height: 421px;
    left: 880px;
    top: -700px;
}
.section4-container2 {
    position: relative;
    width: 1263px;
    height: 800px;
    top: 400px;
}
.section4-container2-blok1 {
    position: absolute;
    width: 840px;
    height: 600px;
}
.section4-container2-blok1a {
    position: relative;
    width: 1306px;
    height: 645px;
    left: -500px;
    top: -100px;
    bottom: 80.9%;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}
.section4-container2-blok1-image {
    position: relative;
    border: #FFFFFF;
    background-image: url("../images/image 6.1.jpg");
    width: 1006px;
    height: 700px;
    left: 300px;
    top: -55px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}
.section4-container2-blok1-List {
    position: relative;
    background-color: #FFFFFF;
    width: 400px;
    height: 500px;
    left: 250px;
    top: -680px;
    bottom: 80.9%;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}
.section4-container2-blok1-text1 {
    position: absolute;
    width: 500px;
}
.section4-container2-blok1-button_krug {
    position: relative;
    width: 80px;
    height: 80px;
    left: -20px;
    background: #FFFFFF;
    background-image: url("../images/Rectangle 8.1.svg");
}
.krug_1 {
    position: relative;
    border: #FFFFFF;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 10px;
}
.krug_2 {
    position: absolute;
    border: black;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 120px;
}
.krug_3 {
    position: absolute;
    border: black;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 160px;
}
.krug_4 {
    position: absolute;
    border: black;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 280px;
}
.section4-container2-blok1-text01 {
    position: relative;
    left: -50px;
    top: -25px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.section4-container2-blok1-text01a {
    position: absolute;
    background-color: #FFFFFF;
    width: 300px;
    height: 50px;
    left: 90px;
    top: 30px;
    bottom: 80.9%;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}
.section4-container2-blok1-text2 {
    position: relative;
    padding: 30px;
    width: 390px;
}
.section4-container2-blok1-text02 {
    position: relative;
    left: 5px;
    top: 115px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.section4-container2-blok1-text02a {
    position: absolute;
    background-color: #FFFFFF;
    width: 300px;
    height: 50px;
    left: 80px;
    top: 150px;
    bottom: 80.9%;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}
.section4-container2-blok1-text3 {
    position: absolute;
    padding: 30px;
    width: 390px;
}
.section4-container2-blok1-text03 {
    position: relative;
    left: 5px;
    top: 155px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.section4-container2-blok1-text03a {
    position: absolute;
    background-color: #FFFFFF;
    width: 300px;
    height: 50px;
    left: 80px;
    top: 190px;
    bottom: 80.9%;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}
.section4-container2-blok1-text4 {
    position: absolute;
    padding: 30px;
    width: 390px;
}
.section4-container2-blok1-text04 {
    position: relative;
    left: 5px;
    top: 275px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.section4-container2-blok1-text04a {
    position: absolute;
    background-color: #FFFFFF;
    width: 300px;
    height: 50px;
    left: 80px;
    top: 300px;
    bottom: 80.9%;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}
.section4-container2-formText {
    position: absolute;
    width: 380px;
    height: 470px;
    left: 50px;
    top: 30px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}
.section4-container2-blok2  {
    position: relative;
    width: 506px;
    height: 509px;
    left: 750px;
    top: 0px;
    border: solid 1px rgb(40, 43, 7);
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}
.section4-container2-form1 {
    position: relative;
    left: 50px;
    top: 140px;
    width: 300px;
    height: 20px;
}
.section4-container2-label {
    position: relative;
    left: 0px;
    top: 0px;
    width: 180px;
    height: 20px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.section4-container2-input {
    position: relative;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 20px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    /* identical to box height */
    color: #FFFFFF;
}
.section4-container2-line1 {
    position: relative;
    background-image: url("../images/Rectangle 2.6.jpg");
    padding: 1px;
    width: 400px;
    top: 10px;
    left: 0px;
    background: rgba(255, 255, 255, 0.15);
}
.section4-container2-form2 {
    position: relative;
    left: 50px;
    top: 180px;
    width: 300px;
    height: 20px;
}
.section4-container2-form3 {
    position: relative;
    left: 50px;
    top: 240px;
    width: 300px;
    height: 20px;
}
.section4-container2-text1 {
    position: relative;
    background-color: #131313;
    border: white;
    width: 300px;
    height: 50px;
    left: 100px;
    top: 310px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
}
.section4-container2-button1 {
    position: relative;
    background-image: url("../images/Group 48.svg");
    padding: 10px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    width: 10px;
    left: 50px;
    top: 240px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
.section4-container2-button2 {
    position: relative;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    width: 230px;
    height: 60px;
    left: 220px;
    top: 310px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section4-container3 {
    position: relative;
    left: 910px;
    top: 100px;
    width: 390px;
    height: 100px;
}
.section4-container3-Label {
    position: relative;
    background-image: url("../images/Group.svg");
    width: 110px;
    height: 110px;
    left: -140px;
    top: 20px;
    z-index: 9990;
}
.section4-container3-text {
    position: relative;
    width: 300px;
    left: -40px;
    top: -70px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}
.section5 {
    position: absolute;
    width: 1263px;
    height: 864px;
    top: 4400px;
}
.section5-container1 {
    position: relative;
    width: 1263px;
    height: 850px;
    left: 0px;
    top: 0px;
}
.section5-container1-blokText1 {
    position: absolute;
    padding: 100px;
    width: 410px;
    height: 90px;
    top: 100px
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    z-index: 9999;
}
.section5-container1-Fon {
    background-image: url("../images/Rectangle 7.jpg");
    position: absolute;
    border: solid 1px rgb(40, 43, 7);
    background-size: cover;
    background-color: rgba(0. 0. 0. .7);
    width: 1263px;
    height: 850px;
    left: 0px;
    background: linear-gradient(120.96deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
    z-index: 9990;
}
.section5-container1-background {
    background-image: url("../images/image 5.1.jpg");
    position: absolute;
    width: 1263px;
    height: 850px;
    left: 0px
    top: 850px;
}
.section5-container1-blokText2 {
    position: absolute;
    width: 150px;
    height: 100px;
    left: -150px;
    top: 220px
}
.section5-container1-blokText2a {
    position: relative;
    left: 250px;
    top: 3000px
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    color: #E3B873;
    z-index: 9999;
}
.section5-container1-Table {
    list-style-type: none;
    position: relative;
    width: 180px;
    height: 500px;
    left: -150px;
    top: 300px
}
.section5-container1-TableText {
    position: relative;
    left: 250px;
    top: 0px
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    z-index: 9999;
}
.section5-container1-backgroundImage{
    position: relative;
    width: 1500px;
    left: -120px;
    height: 1500px;
    top: 220px;
}
.section5-container1-backgroundImage1 {
    position: absolute;
    background-image: url("../images/image 5.jpg");
    width: 354px;
    height: 558px;
    left: 600px;
    top: -670px;
    z-index: 9999;
}
.section5-container1-backgroundImage2 {
    position: absolute;
    background-image: url("../images/image 5a.jpg");
    width: 354px;
    height: 275px;
    left: 1000px;
    top: -750px;
    z-index: 9999;
}
.section5-container1-backgroundImage3 {
    position: absolute;
    background-image: url("../images/image 5b.jpg");
    width: 354px;
    height: 625px;
    left: 1000px;
    top: -420px;
    z-index: 9999;
}
.section5-container1-backgroundImage4 {
    position: absolute;
    background-image: url("../images/image 5c.jpg");
    width: 354px;
    height: 350px;
    left: 600px;
    top: -50px;
    z-index: 9999;
}
.section6 {
    position: absolute;
    width: 1263px;
    height: 864px;
    top: 5400px;
}
.section6-container1 {
    position: relative;
    width: 1240px;
    height: 640px;
    left: 100px;
    top: 50px;
}
.section6-container1-heading {
    position: relative;
    width: 1236px;
    height: 643px;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.section6-container1-headingText {
    position: absolute;
    padding: 20px;
    width: 257px;
    height: 26px;
    left: 400px;
    top: 0px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}
.section6-container1-HandsBlok {
    background-image: url("../images/Group Hands.svg");
    background-repeat: no-repeat;
    position: relative;
    padding: 16px;
    width: 100px;
    hidht: 20px;
    left: 490px;
    top: 50px;
}
.section6-container1-Text {
    position: absolute;
    width: 476px;
    height: 57px;
    left: 300px;
    top: 100px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}
.section6-container1-blok1 {
    position: relative;
    width: 376px;
    height: 428px;
    left: -60px;
    top: 180px;
}
.section6-container1-blok1Foto {
    position: relative;
    background-image: url("../images/Mask Group_A.svg");
    width: 76px;
    height: 76px;
    left: 20px;
    top: 20px;
}
.section6-container1-blok1Name {
    position: relative;
    width: 198px;
    height: 42px;
    left: 120px;
    top: -40px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}
.section6-container1-blok1Text {
    position: relative;
    width: 400px;
    height: 216px;
    left: 20px;
    top: 0px;
    font-family: Nunito Sans;
    text-transform: lowercase;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    color: #959595;
}
.section6-container1-blok1Price {
    position: relative;
    background-image: url("../images/Group3_5_3d.svg");
    width: 294px;
    height: 70px;
    left: 0px;
    top: 0px;
}
.section6-container1-blok2 {
    position: relative;
    width: 376px;
    height: 428px;
    left: 350px;
    top: -250px;
}
.section6-container1-blok2Foto {
    position: relative;
    background-image: url("../images/Mask Group_B.svg");
    width: 76px;
    height: 76px;
    left: 20px;
    top: 20px;
}
.section6-container1-blok2Name {
    position: relative;
    width: 198px;
    height: 42px;
    left: 140px;
    top: -40px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}
.section6-container1-blok2Text {
    position: relative;
    width: 400px;
    height: 216px;
    left: 20px;
    top: 0px;
    font-family: Nunito Sans;
    text-transform: lowercase;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    color: #959595;
}
.section6-container1-blok2Price {
    position: relative;
    background-image: url("../images/Group3_5_4d.svg");
    width: 294px;
    height: 70px;
    left: 0px;
    top: 0px;
}
.section6-container1-blok3 {
    position: relative;
    width: 376px;
    height: 428px;
    left: 740px;
    top: -680px;
}
.section6-container1-blok3Foto {
    position: relative;
    background-image: url("../images/Mask Group_С.svg");
    width: 76px;
    height: 76px;
    left: 20px;
    top: 20px;
}
.section6-container1-blok3Name {
    position: relative;
    width: 198px;
    height: 42px;
    left: 140px;
    top: -40px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}
.section6-container1-blok3Text {
    position: relative;
    width: 400px;
    height: 216px;
    left: 20px;
    top: 0px;
    font-family: Nunito Sans;
    text-transform: lowercase;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    color: #959595;
}
.section6-container1-blok3Price {
    position: relative;
    background-image: url("../images/Group3_5_5d.svg");
    width: 294px;
    height: 70px;
    left: 0px;
    top: 0px;
}
.section7 {
    position: absolute;
    width: 1440px;
    height: 864px;
    top: 6300px;
}
.section7-container {
    position: relative;
    width: 1240px;
    height: 640px;
    left: 0px;
    top: 50px;
}
.section7-container-Frame1 {
    position: relative;
    background-image: url("../images/Frame3_6F1.svg");
    width: 1000px;
    height: 770px;
    left: -500px;
    top: -700px;
}
.section7-container-Frame2 {
    position: relative;
    background-image: url("../images/Frame3_6F2.svg");
    width: 1127px;
    height: 770px;
    left: 630px;
    top: -1470px;
}
.section7-container1 {
    position: relative;
    background: black;
    width: 885px;
    height: 450px;
    left: 180px;
    top: -1750px;
    z-index: 9999;
}
.section7-container1-blok {
    position: relative;
    width: 800px;
    height: 410px;
    left: 40px;
    top: 20px;
}
.section7-container1-blok1 {
    position: relative;
    width: 300px;
    height: 40px;
    left: 300px;
    top: 20px;
    z-index: 9999;
}

.section7-container1-Text {
    position: relative;
    left: 20px;
    top: 0px;
    width: 257px;
    height: 57px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section7-container1-blok2 {
    position: relative;
    background-color: black;
    width: 231px;
    height: 80px;
    left: 200px;
    top: 30px;
}
.section7-container1-blok3 {
    position: relative;
    background-color: black;
    width: 231px;
    height: 80px;
    left: 460px;
    top: -50px;
}
.section7-container1-Text1 {
    position: relative;
    left: 0px;
    top: 0px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.section7-container1-Text2 {
    position: relative;
    left: 0px;
    top: 20px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
.section7-container1-Line1 {
    position: relative;
    width: 200px;
    height: 1px;
    background-image: url("../images/Rectangle 3_7_2Line1.jpg");
    left: 0px;
    top: 30px;
    background: rgba(255, 255, 255, 0.25);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.section7-container1-Line2 {
    position: relative;
    width: 200px;
    height: 1px;
    background-image: url("../images/Rectangle 3_7_2Line2.jpg");
    left: 0px;
    top: 30px;
    background: rgba(255, 255, 255, 0.25);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.section7-container1-Line3 {
    position: absolute;
    width: 500px;
    height: 1px;
    background-image: url("../images/Rectangle 3_7_2Line3.jpg");
    left: 0px;
    top: 70px;
    background: rgba(255, 255, 255, 0.25);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.section7-container1-blok4 {
    position: relative;
    background-color: black;
    width: 500px;
    height: 80px;
    left: 200px;
    top: -40px;
}
.section7-container1-blok5  {
    position: relative;
    width: 286px;
    height: 18px;
    left: 320px;
    top: -100px;
}
.section7-container1-bird {
    position: relative;
    background-image: url("../images/Group 48.svg");
    width: 18px;
    height: 18px;
    left: 0px;
    top: 0px;
}
.section7-container1-Text3 {
    position: relative;
    width: 280px;
    height: 16px;
    left: 40px;
    top: -20px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
}
.section7-container1-Button {
    position: relative;
    background-image: url("../images/Group 20.svg");
    width: 200px;
    height: 51px;
    left: 380px;
    top: -80px;
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section7-container2 {
    position: relative;
    width: 120px;
    height: 1000px;
    left: 0px;
    top: -500px;
}
.section7-container2-Fon {
    position: relative;
    background-image: url("../images/image 7.2.jpg");
    width: 1263px;
    height: 954px;
    left: -100px;
    top: -20px;
    z-index: 10;
}
.section7-container2-Fon2 {
    position: relative;
    width: 1263px;
    height: 960px;
    left: 0px;
    top: -980px;
    background: linear-gradient(180deg,
    rgba(24, 24, 24, 0.9) 3.47%,
    rgba(24, 24, 24, 0.72) 100%);
    z-index: 9980;
}
.section7-container2-blok1Text {
    position: relative;
    width: 589px;
    height: 199px;
    left: 350px;
    top: 300px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
}
.section7-container2-blok2 {
    position: relative;
    width: 71px;
    height: 28px;
    left: 620px;
    top: 0px;
}
.section7-container2-button1 {
    position: relative;
    background-image: url("../images/Group 3.svg");
    width: 28px;
    height: 28px;
    left: 0px;
    top: 184px;
}
.section7-container2-button2 {
    position: relative;
    background-image: url("../images/Group 4.svg");
    width: 28px;
    height: 28px;
    left: 40px;
    top: 155px;
}
.section7-container2-Map {
    position: relative;
    background-image: url("../images/image 7.1.svg");
    width: 920px;
    height: 450px;
    left: 170px;
    top: -1500px;
    z-index: 9999;
}
.section8 {
    position: absolute;
    background: gray;
    width: 1263px;
    height: 120px;
    top: 7350px;
    z-index: 9999;
}
.section8-footer {
    position: relative;
    background-color: black;
    width: 1263px;
    height: 120px;
}
.footer-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 83px;
    top: 20px;
    align-items: center;
}
.footer-navigation {
    list-style: none;
    display: flex;
}
.footer-navigation_item {
    margin-right: 47px;
}



